@import 'src/styles/variable.scss';

.features {
  max-width: 948px;
  margin-top: $space-248;
  margin-right: $space-8;
  margin-left: $space-8;
  margin-bottom: $space-96;
  display: flex;
  gap: $space-24;
  flex-direction: column;

  @include maxWidth($bp-mobile) {
    margin-top: $space-48;
    margin-bottom: $space-8;
    gap: 0;
  }
}
