@import 'src/styles/variable.scss';

.isCircle {
  overflow: hidden;
  border-radius: 50%;
  max-width: 300px;
  max-height: 300px;
}

.imagePicture {
  width: 100%;
  height: 100%;
}

.imageImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
