@import 'src/styles/variable.scss';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $space-8;

  & img {
  }

  & hr {
    width: 300px;
    height: 2px;
    border: 0;
    background: linear-gradient(90deg, $color-pl 25%, $color-sl 88.23%);
  }

  & h2 {
    font-size: $header-24;
    color: $color-white;
  }
}
