@import 'src/styles/variable.scss';

.container {
  width: 1000px;
  padding: $space-16;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $space-16;
  background-color: $color-gray-200;
  border-radius: $radius-16;
  box-shadow: $shadow-s;

  h3 {
    width: 220px;
  }
}

.placeholder {
  width: 260px;
}

.paragraph {
  min-width: 120px;
  display: flex;
  align-items: center;

  svg {
    height: 20px;
    width: 20px;
    margin-right: $space-4;
    color: $color-pd;
  }
}

.buttons {
  display: flex;
  gap: $space-16;
}
