@import 'src/styles/variable.scss';

.button {
  border: none;
  border-radius: $radius-4;
  cursor: pointer;

  &:hover {
    box-shadow: $shadow-s;
  }

  &:active {
    box-shadow: none;
    transform: translateY(1px);
  }
}

.small {
  height: 32px;
  padding: 0 $space-24;
  font-size: $header-16;
  font-weight: $weight-medium;
  color: $color-white;
}

.medium {
  height: 48px;
  padding: 0 $space-24;
  font-size: $header-18;
  font-weight: $weight-medium;
  color: $color-white;
}

.disabled {
  background: $color-gray-400;

  &:hover {
    box-shadow: none;
  }

  &:active {
    transform: none;
    box-shadow: none;
    background: $color-gray-400;
  }
}

.colorPD {
  background: $color-pd;
  &:active {
    background: $color-pl;
  }
}

.colorSD {
  background: $color-sd;
  &:active {
    background: $color-sl;
  }
}

.colorRD {
  background: $color-rd;
  &:active {
    background: $color-rl;
  }
}
