@import 'src/styles/variable.scss';

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-black;
}

.container {
  width: 100%;
  max-width: 1322px;
  height: 100%;
  margin: $space-48 auto $space-48;
  padding: 0 $space-24;
  display: flex;
  flex-direction: column;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  align-items: end;
  gap: $space-24;
  @include maxWidth($bp-mobile) {
    justify-content: center;
  }

  &Logo {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    justify-content: center;
    gap: $space-24;

    @include maxWidth($bp-tablet) {
      gap: $space-8;
    }

    img {
      width: 210px;
      height: 48px;

      @include maxWidth($bp-tablet) {
        width: 140px;
        height: 32px;
      }
    }

    p {
      color: $color-white;
      font-size: $header-18;
      font-weight: $weight-light;

      @include maxWidth($bp-tablet) {
        font-size: $header-16;
      }
    }
  }

  &List {
    padding-right: $space-16;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-wrap: wrap;
    gap: $space-24;

    @include maxWidth($bp-tablet) {
      gap: $space-16;
    }
  }

  &Link {
    color: $color-white;
    font-size: $header-18;

    @include maxWidth($bp-tablet) {
      font-size: $header-16;
    }

    &:hover {
      color: $color-sl;
    }
  }
}

.hr {
  display: block;
  width: 100%;
  height: 2px;
  margin: $space-8 0;
  border: none;
  background: linear-gradient(90deg, $color-pl 15%, $color-sl);
}

.media {
  margin-top: $space-48;
  align-self: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: $space-48;

  @include maxWidth($bp-tablet) {
    gap: $space-24;
  }

  &Link {
    display: flex;
    color: $color-pl;
    font-size: $header-18;

    @include maxWidth($bp-mobile) {
      width: 102px;
      font-size: $header-16;
    }

    svg {
      width: 20px;
      min-width: 20px;
      height: 20px;
      min-height: 20px;
      margin-right: $space-16;
      transform: translateY(3px);
    }

    &:hover {
      background: -webkit-linear-gradient(180deg, $color-sl, $color-pl);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.rights {
  margin: $space-48 auto;
  text-align: center;
  font-size: $font-12;
  color: $color-white;
}
